@model IEnumerable<Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Bankkonton";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";
}

<style>
    .table input[class="beskrivning"] {
        width: 100%;
        height: 25px;
        border: none;
        text-align: left;
    }

    .table input[class="konto"] {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
    }

    .input-group{
        width:150px;
    }
</style>

<!--Sidhuvud-->
<body>
    <div class="content-wrapper">
        @Html.Partial("_header")
    </div>
</body>

<!--BILAGA-->

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <!--KONTON-->
        <tr>
            <th width="79%">Kontosaldo enligt kontoutdrag</th>
            <th width="6%">Konto</th>
            <th width="15%">Belopp</th>
        </tr>
        @foreach (var Bilaga in Model)
        {
            <tr>
                <td><input type="text" class="beskrivning" size="100" value="@Bilaga.Beskrivning" /></td>
                <td><input type="text" class="konto" value="@Bilaga.Konto" /></td>
                <td><input type="text" class="beräknKonto" value="@Bilaga.Belopp" /></td>
            </tr>
        }
        <tr>
            <td colspan="2"><strong>Summa</strong></td>
            <td><strong><input id="summaKonto" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
    </thead>
</table>

<table id="bokf_utbetal" class="table table-striped table-bordered" style="width:100%">
    <!--Avstämning bokförda uttag-->
    <thead>
        <tr>
            <th colspan="1" width="10%">Datum</th>
            <th colspan="1" width="8%">Referens</th>
            <th colspan="8" width="61%">Bokförda utbetalningar - ej med på kontoutdrag</th>
            <th colspan="1" width="6%">Konto</th>
            <th colspan="1" width="15%">Belopp</th>
        </tr>
        @for (var i = 0; i < 3; i++)
        {
            <tr>
                <td colspan="1">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="datum" class="datum" /><div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                        </div>
</td>
                <td colspan="1"><input type="text" name="referens"/></td>
                <td colspan="8"><input type="text" name="titel"/></td>
                <td colspan="1"><input type="text" name="konto" onchange="kontoValidering(this.value)" /></td>
                <td colspan="1"><input type="text" name="belopp" class="beräknBokfUttag" onchange="value=talformat_2dec(this.value)" /></td>
            </tr>
        }
        <tr>
            <td colspan="11"><strong>Summa</strong></td>
            <td colspan="1"><strong><input id="summaBokfUttag" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
        
</table>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <!--Avstämning bokförda insättningar-->
    <thead>
        <tr>
            <th colspan="1" width="10%">Datum</th>
            <th colspan="1" width="8%">Referens</th>
            <th colspan="8" width="61%">Bokförda insättningar - ej med på kontoutdrag</th>
            <th colspan="1" width="6%">Konto</th>
            <th colspan="1" width="15%">Belopp</th>
        </tr>
        @for (var i = 0; i < 3; i++)
        {
            <tr>
                <td colspan="1"><input type="text" /></td>
                <td colspan="1"><input type="text" /></td>
                <td colspan="8"><input type="text" /></td>
                <td colspan="1"><input type="text" onchange="kontoValidering(this.value)" /></td>
                <td colspan="1"><input type="text" class="beräknBokfInsättn" onchange="value=talformat_2dec(this.value)" /></td>
            </tr>
        }
        <tr>
            <th colspan="11" width="85%"><strong>Summa</strong></th>
            <td colspan="1"><strong><input id="summaBokfInsättn" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
</table>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <!--Avstämning ej bokförda uttag-->
    <thead>
        <tr>
            <th colspan="1" width="10%">Datum</th>
            <th colspan="1" width="8%">Referens</th>
            <th colspan="8" width="61%">Ej bokförda uttag - med på kontoutdrag</th>
            <th colspan="1" width="6%">Konto</th>
            <th colspan="1" width="15%">Belopp</th>
        </tr>
        @for (var i = 0; i < 3; i++)
        {
            <tr>
                <td colspan="1"><input type="text" /></td>
                <td colspan="1"><input type="text" /></td>
                <td colspan="8"><input type="text" /></td>
                <td colspan="1"><input type="text" onchange="kontoValidering(this.value)" /></td>
                <td colspan="1"><input type="text" class="beräknEjBokfUttag" onchange="value=talformat_2dec(this.value)" /></td>
            </tr>
        }
        <tr>
            <th colspan="11" width="85%"><strong>Summa</strong></th>
            <td colspan="1"><strong><input id="summaEjBokfUttag" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
</table>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <!--Avstämning ej bokförda insättningar-->
    <thead>
        <tr>
            <th colspan="1" width="10%">Datum</th>
            <th colspan="1" width="8%">Referens</th>
            <th colspan="8" width="61%">Ej bokförda insättningar - med på kontoutdrag</th>
            <th colspan="1" width="6%">Konto</th>
            <th colspan="1" width="15%">Belopp</th>
        </tr>
        @for (var i = 0; i < 3; i++)
        {
            <tr>
                <td colspan="1"><input type="text" /></td>

                    <td colspan="1"><input type="text" /></td>
                    <td colspan="8"><input type="text" /></td>
                    <td colspan="1"><input type="text" onchange="kontoValidering(this.value)" /></td>
                    <td colspan="1"><input type="text" class="beräknEjBokfInsättn" onchange="value=talformat_2dec(this.value)" /></td>
</tr>
        }
        <tr>
            <th colspan="11"><strong>Summa</strong></th>
            <td colspan="1"><strong><input id="summaEjBokfInsättn" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
</table>
<button type="button" class="btn btn-primary" id="SaveOrder">Save Order</button>
<!--Summering av bilaga-->
<div class="content-wrapper">
    @Html.Partial("_bilagasummering")
</div>


<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script src="~/Scripts/generella.funktioner.js"></script>
<script>
    $(document).ready(function () {
        $('.error').hide();
        $('.datum').datepicker();

        $('#SaveOrder').click(function () {
            var utbelningar = [];
            var testdata = [];
            $('#bokf_utbetal thead tr').each(function () {
                utbelningar.push({
                    datum: $('td input[name="datum"]', this).val(),
                    referens: $('td input[name="referens"]', this).val(),
                    titel: $('td input[name="titel"]', this).val(),
                    konto: $('td input[name="konto"]', this).val(),
                    belopp: $('td input[name="belopp"]', this).val(),
                });
            });
            /*
            utbelningar = jQuery.grep(utbelningar, function (n, i) {
                return (i !== "" && i != null);
            });
            */

            
            $.each(utbelningar, function (index, value) {
                if (value !== undefined) {
                    console.log(value);
                    testdata.push(value);
                }
            });
            testdata = JSON.stringify(utbelningar);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveOrder", "Bilaga")',
                traditional: true,
                data: { utbetalning: testdata },
                success: function (response) {
                    /*
                    if (response.data == true) {
                        alert("Utbelning skapad");
                    } else {
                        alert("Something wrong");
                    }
                    */
                    alert(response.data + " Utbetalningar skapade");
                },
                error: function (error) {
                    alert("Something wrong");
                }
            })


        });

        function ValidateDate(dtValue)
        {
            var dtRegex = new RegExp(/\b\d{1,2}[\/-]\d{1,2}[\/-]\d{4}\b/);
            return dtRegex.test(dtValue);            
        }


        //iterate through each textboxes and add keyup
        //handler to trigger sum event

        $('td').each(function () {
            $(this).keyup(function () {
                $('#summaKonton').val(talformat_2dec(calcSum('.beräknKonto')));
                $('#summaBokfUttag').val(talformat_2dec(calcSum('.beräknBokfUttag')));
                $('#summaBokfInsättn').val(talformat_2dec(calcSum('.beräknBokfInsättn')));
                $('#summaEjBokfUttag').val(talformat_2dec(calcSum('.beräknEjBokfUttag')));
                $('#summaEjBokfInsättn').val(talformat_2dec(calcSum('.beräknEjBokfInsättn')));
            });
        });
    });
</script>