@model IEnumerable<Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Bankkonton";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";

    string[] Rubrik = {"Ingående balans", "Fondemission", "Nyemission", "Erh. akieägartillskott", "Erh./Lämn. koncernbidrag", "Disp. av fg. års resultat", "Återbetalning aktieägartillskott", "Utdelning", "Årets resultat"};
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Sidhuvud-->
<body>
    <div class="content-wrapper">
        @Html.Partial("_header")
    </div>
</body>
</html>
 
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <!--Förändring av eget kapital-->
        <thead>
            <tr>
                <th colspan="1" width="26%">Benämning</th>
                <th colspan="1" width="12%">Aktiekapital</th>
                <th colspan="1" width="12%" contenteditable='true'>Uppskr.fond</th>
                <th colspan="1" width="12%" contenteditable='true'>Reservfond</th>
                <th colspan="1" width="12%">Bal. resultat</th>
                <th colspan="1" width="12%">Årets resultat</th>
                <th colspan="1" width="14%"><strong>Summa</strong></th>
            </tr>
            <tr>
                <td align="left"><strong>Konto</strong></td>
                <td align="center" contenteditable='true'>2081</td>
                <td align="center" contenteditable='true'>2085</td>
                <td align="center" contenteditable='true'>2086</td>
                <td align="center" contenteditable='true'>2091</td>
                <td align="center" contenteditable='true'>2099</td>
                <td align="center" contenteditable='true'>-</td>
            </tr>
            @foreach (var rubrik in Rubrik)
            {
            <tr>
                <td align="left" contenteditable='true'>@rubrik</td>
                <td align="right" contenteditable='true'></td>
                <td align="right" contenteditable='true'></td>
                <td align="right" contenteditable='true'></td>
                <td align="right" contenteditable='true'></td>
                <td align="right" contenteditable='true'></td>
                <td align="right" contenteditable='false'></td>
            </tr>
            }
            <tr>
                <td align="left"><strong>Utgående balans</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
                <td align="right"><strong>@ViewBag.testsumma</strong></td>
            </tr>
</table>    

   
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <!--Summarad-->
        <thead>
            <tr>
                <th width="45%" colspan="3">Upplysningar om aktiekapital innevarande år</th>
                <th width="41%"><strong>Totalsumma enligt bilagan</strong></th>
                <td width="14%" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
            <tr>
                <th>Aktiekapital</th>
                <th>Antal aktier</tdcontenteditable="true">
                <th>Kvotvärde</th>
                <th><strong>Saldo enligt huvudbok</strong></th>
                <td align="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
            <tr>
                <td align="center" contenteditable="true"></td>
                <td align="center" contenteditable="true"></td>
                <td align="center" contenteditable="true"></td>
                <th><strong>Belopp kvar att specificera</strong></th>
                <td align ="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
        </thead>
    </table>

    <p align="right">
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Töm bilaga"></span>
        </a>
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Klarmarkera bilaga"></span>
        </a>
    </p>

<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>

