@model IEnumerable<Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Värdepapper";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Sidhuvud-->
<body>
    <div class="content-wrapper">
        @Html.Partial("_header")
    </div>
</body>
</html>

<div class="container">
    <!--AVSTÄMNING VÄRDEPAPPERSINNEHAV-->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th colspan="4"><strong>Inventerat lager per bokslutsdagen</strong></th>
                <th colspan="2"><strong>Beräkning av anskaffningsutgifter</strong></th>
                <th colspan="2"><strong>Beräkning av marknadsvärde</strong></th>
            </tr>
            <tr>
                <th colspan="1" width="7%">Artikelnr</th>
                <th colspan="1" width="28%">Vara</th>
                <th colspan="1" width="11%">Inventerat antal</th>
                <th colspan="1" width="2%">Enhet</th>
                <th colspan="1" width="9%">Ansk.värde/st</th>
                <th colspan="1" width="17%">Anskaffningsvärde</th>
                <th colspan="1" width="9%">Verkligt värde/st</th>
                <th colspan="1" width="17%">Verkligt värde</th>
            </tr>
            @for (var i = 0; i < 6; i++)
            {
                <tr>
                    <td colspan="1" width="7%" align="left" contenteditable='true'></td>
                    <td colspan="1" width="28%" align="left" contenteditable='true'></td>
                    <td colspan="1" width="11%" align="right" contenteditable='true'></td>
                    <td colspan="1" width="2%" align="center" contenteditable='true'></td>
                    <td colspan="1" width="9%" align="right" contenteditable='true'></td>
                    <td colspan="1" width="15%" align="right" contenteditable='true'></td>
                    <td colspan="1" width="9%" align="right" contenteditable='true'></td>
                    <td colspan="1" width="15%" align="right" contenteditable='true'></td>
                </tr>
            }
            <tr>
                <td colspan="4"><strong>Summa</strong></td>
                <td colspan="1" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
                <td colspan="1"></td>
                <td colspan="1" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
                <td colspan="1" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
    </table>

    <!--BERÄKNING AV LAGERFÖRÄNDRING-->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="86%"><strong>Lagerförändring</strong></th>
                <th width="14%"><strong>Belopp</strong></th>
            </tr>
            <tr>
                <td contenteditable='true' align="left">Lagersaldo enligt huvudboken</td>
                <td contenteditable='true' align="right"></td>
            </tr>
            <tr>
                <td contenteditable='true' align="left">Inventerat lagersaldo</td>
                <td contenteditable='true' align="right"></td>
            </tr>
            <tr>
                <td><strong>Lagerförändring</strong></td>
                <td align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
    </table>

    <!--BERÄKNING AV INKURANSAVDRAG-->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th colspan="2"><strong>Beräkning av lagervärde enligt lägsta värdets princip</strong></th>
                <th colspan="2"><strong>Beräkning av lagervärde enligt 3%-regeln (Skattemässigt inkuransavdrag)</strong></th>
            </tr>
            <tr>
                <td colspan="1" width="36%">Lagervärde enligt lägsta värdets princip</td>
                <td colspan="1" width="12%" align="right" contenteditable='true'>@String.Format("{0:#,###.##}", ViewBag.testsumma)</td>
                <td colspan="1" width="38%">Inventerat lagervärde till anskaffningsvärde</td>
                <td colspan="1" width="14%" align="right" contenteditable='true'>0</td>
            </tr>
            <tr>
                <td colspan="1" width="36%">Inkuransavdrag enligt lägsta värdets princip</td>
                <td colspan="1" width="12%" align="right" contenteditable='true'>@String.Format("{0:#,###.##}", ViewBag.testsumma)</td>
                <td colspan="1" width="38%">Skattemässigt inkuransavdrag - 3%</td>
                <td colspan="1" width="14%" align="right" contenteditable='true'>0</td>
            </tr>
            <tr>
                <td colspan="1" width="36%"><strong>Utgående lagervärde enligt lägsta värdets princip</strong></td>
                <td colspan="1" width="12%" align="right" contenteditable='false'><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
                <td colspan="1" width="38%"><strong>Utgående bokfört värde</strong></td>
                <td colspan="1" width="14%" align="right" contenteditable='true'><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
    </table>

    <!--ÖVRIGA JUSTERINGAR-->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="86%"><strong>Övriga justeringar</strong></th>
                <th width="14%"><strong>Belopp</strong></th>
            </tr>
            @for (var i = 0; i < 2; i++)
            {
                <tr>
                    <td contenteditable='true' align="left"></td>
                    <td contenteditable='true' align="right"></td>
                </tr>
            }
            <tr>
                <td><strong>Summa</strong></td>
                <td align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
        </thead>
    </table>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <!--Summarad-->
        <thead>
            <tr>
                <th width="86%"><strong>Totalsumma enligt bilagan</strong></th>
                <td width="14%" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
            <tr>
                <th width="86%"><strong>Saldo enligt huvudbok</strong></th>
                <td width="14%" align="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
            <tr>
                <th width="86%"><strong>Belopp kvar att specificera</strong></th>
                <td width="14%" align="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
        </thead>
    </table>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <p align="right">
            <a href="#" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Töm bilaga"></span>
            </a>
            <a href="#" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Klarmarkera bilaga"></span>
            </a>
        </p>
    </table>
</div>
<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>


