@model IEnumerable<Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Bankkonton";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.Rubrik1 = "Förutbetalda kostnader";
    ViewBag.Rubrik2 = "Upplupna intäkter";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Sidhuvud-->
<body>
    <div class="content-wrapper">
        @Html.Partial("_header")
    </div>
</body>
</html>

<!--BILAGA-->
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <!--KONTON-->
            <tr>
                <th colspan="7">@ViewBag.Rubrik1</th>
            </tr>
            <tr>
                <th width="5%" contenteditable='true'>Motkonto</th>
                <th width="45%" contenteditable='true'>Namn eller beskrivning</th>
                <th width="6%" contenteditable='true'>Referens</th>
                <th width="10%" contenteditable='true'>Datum</th>
                <th width="10%" contenteditable='true'>Fr.o.m.</th>
                <th width="10%" contenteditable='true'>T.o.m.</th>
                <th width="14%">Belopp</th>
            </tr>
            @for (var i = 0; i < 6; i++)
            {
                <tr>
                    <td align="center" contenteditable='true'></td>
                    <td align="left" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="right" contenteditable='true'></td>
                </tr>
            }
            <tr>
                <th colspan="6"><strong>Summa</strong></th>
                <td align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
        </thead>
    </table>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <!--KONTON-->
            <tr>
                <th colspan="7">@ViewBag.Rubrik2</th>
            </tr>
            <tr>
                <th width="5%" contenteditable='true'>Motkonto</th>
                <th width="45%" contenteditable='true'>Namn eller beskrivning</th>
                <th width="6%" contenteditable='true'>Referens</th>
                <th width="10%" contenteditable='true'>Datum</th>
                <th width="10%" contenteditable='true'>Fr.o.m.</th>
                <th width="10%" contenteditable='true'>T.o.m.</th>
                <th width="14%">Belopp</th>
            </tr>
            @for (var i = 0; i < 6; i++)
            {
                <tr>
                    <td align="center" contenteditable='true'></td>
                    <td align="left" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="center" contenteditable='true'></td>
                    <td align="right" contenteditable='true'></td>
                </tr>
            }
            <tr>
                <th colspan="6"><strong>Summa</strong></th>
                <td align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
        </thead>
    </table>


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <!--Summarad-->
        <thead>
            <tr>
                <th width="86%"><strong>Totalsumma enligt bilagan</strong></th>
                <td width="14%" align="right"><strong>@String.Format("{0:#,###.##}", ViewBag.testsumma)</strong></td>
            </tr>
            <tr>
                <th width="86%"><strong>Saldo enligt huvudbok</strong></th>
                <td width="14%" align="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
            <tr>
                <th width="86%"><strong>Belopp kvar att specificera</strong></th>
                <td width="14%" align="right"><strong>@ViewBag.testdiff</strong></td>
            </tr>
        </thead>
    </table>

    <p align="right">
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Töm bilaga"></span>
        </a>
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Klarmarkera bilaga"></span>
        </a>
    </p>

<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>

