@model IEnumerable< Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Huvudbok";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";
}

@{
    ViewBag.searchKonto = "";
    ViewBag.searchBesk = "";
    ViewBag.searchKs = "";
    ViewBag.searchPr = "";
    ViewBag.searchVerNr = "";
    ViewBag.searchDatum = "";
    ViewBag.searchBelopp = "";
}

<style>
    .table input[class="KonteringKonto"], #searchKonto {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
        background: transparent white;
    }

    .table input[class="KonteringKs"], #searchKs {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
        background: transparent white;
    }

    .table input[class="KonteringPr"], #searchPr {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
        background: transparent white;
    }

    .table input[class="KonteringBeskr"], #searchBesk {
        width: 100%;
        height: 25px;
        border: none;
        text-align: left;
        background: transparent white;
    }

    .table input[class="KonteringVerNr"], #searchVerNr {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
        background: transparent white;
    }

    .table input[class="KonteringDatum"], #searchDatum {
        width: 100%;
        height: 25px;
        border: none;
        text-align: center;
        background: transparent white;
    }

    .table input[class="KonteringBelopp"], #searchBelopp, #labelBelopp {
        width: 100%;
        height: 25px;
        border: none;
        text-align: right;
        background: transparent white;
    }  
    
    .input {
        width: 100px;
        background-color: #f1f1f1;
    }

    .searchField {
        width: 90px;
    }

    .top-container {
        background-color: #f1f1f1;
        padding: 10px;
        text-align: center;
    }

    .header {
        padding: 10px 16px;
        background: #555;
        color: #f1f1f1;
        opacity: 0.8;
    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        top: 50px;
        width: 90.3%;
        opacity: 0.8;
    }

    .sticky + .content {
        padding-top: 302px;
    }
</style>

<!--BILAGA-->
<div class="top-container">
    <h1>Huvudbok</h1>
</div>

<div class="header" id="myHeader" >
  <!--  <input type="text" id="SearchInput" /> -->
    
            <!--KONTON-->



@using (Html.BeginForm("Huvudbok", "Home", FormMethod.Post))
{

    <input type="submit" value="Submit" hidden="hidden" />
    // <input type="submit" value="Search" />
    <a href="~/Home/Huvudbok" class="btn btn-lg">
        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Visa allt" onclick="clearFields()"></span>
    </a>
    <table id="HBtableHeader">
        <tr>
            <th id="labelKonto" width="15%">Konto</th>
            <th id="labelKs" width="8%">Ks</th>
            <th id="labelPr" width="8%">Pr</th>
            <th id="labelBesk" width="24%">Benämning</th>
            <th id="labelVerNr" width="15%">Verifikation</th>
            <th id="labelDatum" width="15%">Datum</th>
            <th id="labelBelopp" width="15%">Belopp</th>
        </tr>
        <tr>
            <th>@Html.TextBox("konto", null, new { @class = "input" })</th>
            <th>@Html.TextBox("ks", null, new { @class = "input" })</th>
            <th>@Html.TextBox("pr", null, new { @class = "input" })</th>
            <th>@Html.TextBox("beskrivning", null, new { @class = "input" })</th>
            <th>@Html.TextBox("verifikation", null, new { @class = "input" })</th>
            <th>@Html.TextBox("datum", null, new { @class = "input" })</th>
            <th>@Html.TextBox("belopp", null, new { @class = "input" })</th>
        </tr>
        
    </table>
}
</div>

<table class="table table-hover" id="HBtableRows">
    <tbody id="bilagaRow">
        @foreach (var Bilaga in ViewBag.AccountList)
        {
            <tr id="resultRows">
                <td width="15%"><input type="text" name="huvudbok" class="KonteringKonto" value="@Bilaga.Konto" readonly="readonly" /></td>
                <td width="8%"><input type="text" name="huvudbok" class="KonteringKs" value="@Bilaga.Ks" readonly="readonly" /></td>
                <td width="8%"><input type="text" name="huvudbok" class="KonteringPr" value="@Bilaga.Pr" readonly="readonly" /></td>
                <td width="24%"><input type="text" name="huvudbok" class="KonteringBeskr" value="@Bilaga.Beskrivning" readonly="readonly" /></td>
                <td width="15%"><input type="text" name="huvudbok" class="KonteringVerNr" value="@Bilaga.Serie@Bilaga.VerifikationNr" readonly="readonly" /></td>
                <td width="15%"><input type="text" name="huvudbok" class="KonteringDatum" value="@Bilaga.Datum.ToString("yyyy-MM-dd")" readonly="readonly" /></td>
                <td width="15%"><input type="text" name="huvudbok" class="KonteringBelopp" value="@Bilaga.Belopp" readonly="readonly" /></td>
            </tr>
        }
        <tr>
            <td colspan="6"><strong>Summa</strong></td>
            <td colspan="1"><strong><input id="HBsum" type="text" readonly="readonly" /></strong></td>
        </tr>
    </tbody>
</table>

<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="~/Scripts/generella.funktioner.js"></script>
<script>
    $(document).ready(function () {
        window.onscroll = function () { frysRad("myHeader") };

        function frysRad(frysElement) { //Funktion för att låsa rad
            var header = document.getElementById(frysElement);
            var sticky = header.offsetTop;
            if (window.pageYOffset >= sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
        
        $("#SearchInput").keydown(function () {
            var searchString = $(this).val();

            $.ajax({

                type: "Post",
                url: "/Home/Huvudbok/GetSearchRecord?SearchText=" + searchString,
                contentType: "html",
                success: function (response) {
                    $('#bilagaRow').html(response);
                    
                }
            })
        });
        
        /*
        $("#Konto").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Huvudbok/Index",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Konto, value: item.Konto };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
        */

    //TEST 2018-05-14
        function sortHBdata() {
        }

        function clearFields() {
            $('#HBtableHeader').each(function () {
                $(this).val("")
            });
        }
        
        $('.KonteringBelopp').each(function () { //Talformattering
            $(this).val(talformat_2dec(this.value))
        });

        $('#HBsum').val(talformat_2dec(calcSum('.KonteringBelopp'))); //Summering

    });

</script>

