<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style>
    #menubar {
        font-size: 12px;
        border-color: white;
        background-color: white;
    }

    #buttons {
        border-color: ghostwhite;
    }
</style>

<body>
    <div id="menubar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.jarvelid.se/" id="logo" class="custom-logo-link" title="Bokföringsprogram" rel="home" itemprop="url"><img src="~/Images/propeller.png" width="50pxl"></a>
                <!--@Html.ActionLink("Bokföringsprogram", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <!--MENY Inställningar-->
                <li role="presentation" class="dropdown">
                    <a id="buttons" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Inställningar <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Kontologik", "Kontologik", "Home")</li><!--knappens namn, bilagans namn, mappen bilaga-->
                    </ul>
                </li>
                <!--MENY Bilagor-->
                <li role="presentation" class="dropdown">
                    <a id="buttons" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Bilagor <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Bank", "Bank", "Bilaga")</li><!--knappens namn, bilagans namn, mappen bilaga-->
                        <li>@Html.ActionLink("Värdepapper", "Värdepapper", "Bilaga")</li>
                        <li>@Html.ActionLink("Skatt", "Skatt", "Bilaga")</li>
                        <li>@Html.ActionLink("Underbilaga skatt", "UnderbilagaSkatt", "Bilaga")</li>
                        <li>@Html.ActionLink("Bilaga utan moms", "BilagaUtanMoms", "Bilaga")</li>
                        <li>@Html.ActionLink("Varulager", "Lager", "Bilaga")</li>
                        <li>@Html.ActionLink("Periodiseringar", "Periodiseringar", "Bilaga")</li>
                        <li>@Html.ActionLink("Eget kapital", "EgetKapital", "Bilaga")</li>
                        <li>@Html.ActionLink("Kassa", "Kassa", "Bilaga")</li>
                    </ul>
                </li>
                <!--MENY Register-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" id="buttons" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Register <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Anläggningsregister", "Anläggningsregister", "Register")</li><!--knappens namn, bilagans namn, mappen bilaga-->
                        <li>@Html.ActionLink("Periodiseringsregister", "Periodiseringsregister", "Register")</li>
                        <li>@Html.ActionLink("Värdepappersregister", "Värdepappersregister", "Register")</li>
                    </ul>
                </li>
                <!--MENY Rapporter-->
                <li role="presentation" class="dropdown">
                    <a id="buttons" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Rapporter <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Momsavstämning", "Momsavstämning", "Rapporter")</li>
                    </ul>
                </li>

                <span style="float:right;">
                    <a href="~/Home/Huvudbok" class="btn btn-lg">
                        <span class="glyphicon glyphicon-book" data-toggle="tooltip" title="Öppna huvudbok"></span>
                    </a>
                    <a href="#" class="btn btn-lg">
                        <span class="glyphicon glyphicon-cog" data-toggle="tooltip" title="Inställningar"></span>
                    </a>
                    <a href="#" class="btn btn-lg">
                        <span onclick="window.print();return false;" class="glyphicon glyphicon-print" data-toggle="tooltip" title="Skriv ut bilaga"></span>
                    </a>
                </span>
                </ul>
            </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
